<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy.MM.dd - HH:mm:ss.SSS} %-4level %class{26} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="mail_appender" class="ch.qos.logback.classic.net.SMTPAppender">
        <SMTPHost>${smtp.host}</SMTPHost>
        <SMTPPort>${smtp.port}</SMTPPort>
        <STARTTLS>true</STARTTLS>
        <username>${smtp.username}</username>
        <password>${smtp.password}</password>
        <From>${smtp.address.from}</From>
        <To>${smtp.address.to}</To>
        <Subject>ERROR: - %class{28} %m</Subject>
        <layout class="ch.qos.logback.classic.html.HTMLLayout">
            <pattern>%relative%thread%mdc%level%logger%msg</pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>./logs/sample.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/sample-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy.MM.dd - HH:mm:ss.SSS} %-4level %class{26} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="console_logger">
        <level value="DEBUG"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="file_logger">
        <level value="WARN"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="mail_logger">
        <level value="DEBUG"/>
        <appender-ref ref="mail_appender"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="mail_appender"/>
    </root>
</configuration>